* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f9f7ff;
  color: #333;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

/* HERO */
.logo {
  width: 100px;  
}
.hero {
  background: linear-gradient(135deg, #7b2cbf, #9d4edd);
  color: white;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

/* BOTÃO */
.btn-whatsapp {
  display: inline-block;
  background: #25d366;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* GALERIA */
.gallery {
  padding: 40px 0;
  background-color: #a56ad5;
}

.gallery h2 {
  margin-bottom: 20px;
}

.gallery-grid {
  display: grid;
  gap: 20px;
  justify-items: center;
}

/* CARD DE IMAGEM */
.gallery-item {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  display: block;
}

/* EFEITO PROFISSIONAL */
.gallery-item:hover {
  transform: scale(1.03);
}

/* INFO */
.info {
  background: #ede9fe;
  padding: 40px 0;
}

/* BOTÃO FLUTUANTE */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}

/* Desktop */
@media (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-item {
    max-width: 350px;
  }
}